body{
    padding: 0px;
    margin: 0px;

}
span{
    margin: 0px 0px 0px 4vw;
    font-family: monospace;
    font-size: xx-large;
    font-weight: 200;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    background-color: #a12e32;
    height: 10vh;
    line-height: 10vh;
    width: 100vw;
    

}

.navigation{
    color: white;
    text-decoration: none;
    margin: 0px 4vw 0px 0px;

}

.navigation:hover{
    color:black;
    text-decoration:dashed;
}



main{
    background-image: url('samurai_girl_anime-wallpaper-1366x768.jpg');
    width: 100vw;
    height: 70vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}

.flex-container{
    display: flex;
    flex-direction: column;
}
section{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    width: 100%;
    margin: 1%;
}


.portada{
    border: 3px solid #a12e32;
    border-radius: 5px;
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding: 2%;
    background-color:  rgb(14, 13, 13) ;
}

figcaption{
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

figcaption:hover{
    color: #c9272d;
    text-decoration: none;
}

.portada-img{
    border-bottom: 2px solid #a12e32;
}

footer{
    text-align: center;
    background-color: #a12e32;
    color: #fff;
    height: 10vh;
    line-height: 10vh;
    width: 100vw;
    margin-bottom: 0%;  
}

a{
    text-decoration: none;
}


@media screen and (max-width: 600px) {
    span{
        margin: 0px 0px 0px 4vw;
        font-size: x-large;
        font-style: bold;
    }

    header{
        justify-content:space-around
    }
   
    .navigation{
    color: white;
    text-decoration: none;
    font-size: small;
    text-align: center;
   }

   section{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    
   }

   .portada-img{
    width: 200px;
    border-bottom: 2px solid #a12e32;
  
   }
   .portada{
    padding: 4%;
    width: 70%;
   
   }
   
   figcaption{
    color: #fff;
   }

   aside{
    display: flex;
    flex-direction: column;
    width: 100vw;
   }
   h4{
    margin-bottom: 2px;
   }
   
  }